body {
margin: 0;
padding: 0;
text-align: center;
background-color: rgb(58, 58, 58);
color: rgb(253, 251, 251);
}
header {
background: linear-gradient(to bottom right, rgb(190, 92, 235), #333);
color: rgb(66, 64, 64);
padding: 25px;
}
header h1 {
margin: 0;
}
main h2 {
color: black;
text-decoration: underline;
}
.container {
width: 65%;
margin: 0 auto;
}

/* Add Student Styles Below */
ul  {
    padding-left: 0;
  }
  ul li {
     list-style-position: inside;
  }
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
}
img {
    border: 5px solid #555;
  }
  
.jane-style {
color: hotpink;
background-color: black;
padding: 10px;
}

.code-ninja-style {
color: blue;
background-color: lightblue;
padding: 3px;
}

.codys-styles {
background:rgb(92, 149, 235);
}

.stans-styles {
background-color:lightgray;
}

.my-bio {
background-color: green;
color: white;
}
